
.step-switch {
    position: absolute;
    top:700px;
    left:110px;
    width:190px;
    background-size: 100% 67px;

}

/*.step-switch-knob {
    position: relative;
    top:2px;
    left:2px;
    transition: left .3s ease-in-out;
}*/

.step-switch:hover {
    cursor: pointer;
}
