/*
 * CSS for the row of step, rewind and play buttons
 */

.step-btn {
    position: absolute;
    top: 460px;
    left: 40px;
}

.step-btn-label {
    position: absolute;
    top: 7px;
    left: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    color: #cccccc;
    font-weight: 700;
    margin-top: -6px;
    margin-left: -48px;
    padding: 6px 48px
}

.step-btn-label:hover {
    cursor: pointer;
    color: #6699cc;
}

.status-light {
    position: absolute;
    top: 1px;
    left: 10px;
}

.rewind-btn {
    position: absolute;
    top: 460px;
    left: 184px;
}

.rewind-btn-img {
    width: 63px;
    height: 32px;
}

.rewind-icon {
    position: absolute;
    margin-top: -4px;
    padding-left: 20px;
    padding-right: 18px;
}

.play-btn {
    position: absolute;
    top: 460px;
    left: 250px;
}

.play-btn-img {
    width: 112px;
    height: 32px;
    cursor: pointer;
}

.play-icon {
    position: absolute;
    margin-top: -4px;
    padding-left: 40px;
    padding-right: 50px;
}
