/* Styles for the regular Slider */
.small-slider {
    position: relative;
    top:340px;
    left:20px;
    width:267px;
    padding-bottom: 25px;
    background: url(/img/slider-track.png) no-repeat;
}

.slider-label {
    position: absolute;
    top: -24px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    color: #cccccc;
    font-weight: 400;
}

.small-slider-knob {
    position: absolute;
    top:-4px;
    left:20px;
    cursor: pointer;
    z-index: 20;
}

.small-slider-input-text {
    position:relative;
    left:277px;
    top:-13px;
    width: 42px;
    height: 26px;
    border: 0;
    outline: none;
    background: url(/img/slider-field.png) no-repeat 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.72em;
    color: #ffffff;
    font-weight: 400;
    box-sizing: border-box;
    text-align:center;
}


/* Slider Decimal Decorator */
.slider-decimal-knob {
    position: absolute;
    top:5px;
    left:50px;
    cursor: pointer;
    z-index: 10;
}
