/*
 * CSS styles for the sliding drawer control panel and the elements within
 */

#control-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: left .4s ease-in-out .2s;
}

#control-panel-header {
    width: 400px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/img/panel-header.png);
}

#control-panel-toggle-tab {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    background-color: #ccc;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 0.9);
}

.material-icons.md-24 {
    font-size: 24px;
}

i.vert-align {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}

i.button-label {
    position: absolute;
    top: 6px;
    left: 6px;
}

i.vert-align:hover,
i.button-label:hover {
    color: #6699cc;
    cursor: pointer;
}

#control-panel-body {
    box-sizing: border-box;
    width: 400px;
    height: calc(100% - 40px);
    border-style: solid;
    border-width: 20px;
    border-image: url(/img/panel-background.png) fill 25;
}

#panel-title {
    position: relative;
    top: 9px;
    border: 1px solid #838383;
    border-radius: 4px;
    margin: 0 15px 0 15px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    color: #666666;
    font-weight: 400;
    text-align: center;
}

.axiom-input-area {
    position: absolute;
    top: 75px;
    left: 40px;
    width: calc(100% - 50px);
}

.input-label {
    position: relative;
    top: 10px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #cccccc;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}

.input-label.mgb {
    margin-bottom: 16px;
}

.input-text {
    border: 0;
    height: 35px;
    width: 65px;
    outline: none;
    text-indent: 10px;
    background: url(/img/input-bg.png) no-repeat 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #ffffff;
    font-weight: 700;
    margin-left: 2px;
}

.input-text.large {
    width: calc(100% - 65px);
}

.prod-input-area {
    position: absolute;
    top: 175px;
    left: 40px;
    width: calc(100% - 50px);
}

.prod-btn {
    position: relative;
    display: inline-block;
    top: 12px;
    left: -5px;
}

.prod-btn img {
    width: 36px;
}

.separator {
    position: absolute;
    top: 400px;
    left: 14px;
    width: calc(100% - 28px);
}

.separator img {
    width: 100%;
    height: 32px;
}

.btn-rect {
    position: absolute;
    top:425px;
    left:40px;
    cursor:pointer;
}

.btn-rect-label {
    position: relative;
    top: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #cccccc;
    font-weight: 400;
    padding: 16px  1px;
    margin: -16px -1px;
}

.btn-rect-label:hover {
    color: #6699cc;
}
